.homes-wrapper{
  width: 100vw;
  height: 100vh;;
}

.home-photo{
  width: 100%;
  height: 100%;
  position: relative;
}

.home-photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.home-photo p{
  position: absolute;
  top: 150px;
  left: 100px;
  color: white;
  font-size: 130px;
  font-weight: bolder;
}

.home-photo span{
  color: red;
  margin-left: 100px;
}

/* 二ページ目 */

.explanation-wrapper{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.msk{
  background: rgba(255,255,255,.5);
  height: 100%;
}

.second-container{
  width: 100%;
  height: 100%;
}

.photo-roke-img{
  height: calc(100% - 75%);
  width: 100%;
  padding-top: 2vh;
  display: flex;
  justify-content: center;
}

.photo-roke-img img{
  height: 100%;
}

.photo-roke-text{
  font-size: 60px;
  text-align: center;
  font-weight: bolder;
}

.photoroke-explanation-container{
  height: calc(100% - calc(25% + 135px + 2vh));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.map-illustration-container{
  width: calc(100% / 3);
  height: 75%;
}

.map-illustration{
  width: 100%;
  height: 100%;
  object-fit: none;
  border: 2px solid;
  border-radius: 25%;
  background-color: gainsboro;
}

.exp-text{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.photo-illustration-container{
  width: calc(100% / 3);
  height: 75%;
  position: relative;
}

.photo-illustration{
  width: 100%;
  height: 100%;
  object-fit: none;
  border: 2px solid;
  border-radius: 25%;
  position: absolute;
  object-position: 78%;
}


/* 600px〜959px：タブレット
------------------------------ */
@media screen and (min-width:600px) and (max-width:959px) {
 
 
}
 
 
/* 480px〜599px：SP横
------------------------------ */
@media screen and (min-width:480px) and (max-width:599px) { 
 
 
}
 
 
/* 〜479px：スマートフォン縦
------------------------------ */
@media screen and (max-width:479px) { 

  .home-photo p{
    top: 400px;
    left: 0px;
    font-size: 68px;
  }

  .home-photo span{
    margin-left: 0px;
  }

  .exp-text{
    font-size: 21px;
  }

  .photoroke-explanation-container{
    height: calc(100% - calc(25% + 122px + 2vh));
  }

  .map-illustration-container{
   height: 85%;
  }

  .photo-illustration-container{
    height: 85%;
  }

}