.edit-wrapper{
  height: 100vh;
  width: 75vw;
  padding-top: 15vh;
  margin: auto;
  background-color: gainsboro;
}

#avatar-list{
  width: 75vw;
  display: flex;
  justify-content: center;
  position: absolute;
}

.avatar-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid;
}

.edit-avatar-text{
  text-align: center;
  margin-top: 30vh;
}

.edit-avatar-upload{
  display: flex;
  justify-content: center;
  margin: auto;
}

.true-avatar-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-avatar{
  position: absolute;
  width: 250px;
  border-radius: 50%;
}

.edit-profile-container{
  width: 100%;
  height: calc(100% - 85%);
  display: flex;
  margin-top: 10vh;
  justify-content: center;
}

.edit-profile{
  width: calc(100% - 50%);
  height: 100%;
}

.edit-profile-btn {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

/* elseの場合 */
.else-avatar-container{
  width: 75vw;
  display: flex;
  justify-content: center;
  position: absolute;
}

.else-edit-avatar {
width: 250px;
height: 250px;
border-radius: 50%;
border: 2px solid;
}

.else-avatar{
  position: absolute;
  width: 250px;
  border-radius: 50%;
}