.edit-wrapper{
  height: 100vh;
  width: 75vw;
  padding-top: 15vh;
  margin: auto;
  background-color: gainsboro;
}

#avatar-list{
  width: 75vw;
  display: flex;
  justify-content: center;
  position: absolute;
}

.avatar-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid;
}

.edit-avatar-text{
  text-align: center;
  margin-top: 30vh;
}

.edit-avatar-upload{
  display: flex;
  justify-content: center;
  margin: auto;
}

.true-avatar-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-avatar{
  position: absolute;
  width: 250px;
}

.edit-profile-container{
  width: 100%;
  height: calc(100% - 85%);
  display: flex;
  margin-top: 10vh;
  justify-content: center;
}

.edit-profile{
  width: calc(100% - 50%);
  height: 100%;
}

.edit-profile-btn {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

/* elseの場合 */
.else-avatar-container{
  width: 75vw;
  display: flex;
  justify-content: center;
  position: absolute;
}

.else-edit-avatar {
width: 250px;
height: 250px;
border-radius: 50%;
border: 2px solid;
}

.else-avatar{
  position: absolute;
  width: 250px;
  border-radius: 50%;
}

/* 〜479px：スマートフォン縦
------------------------------ */
@media screen and (max-width:479px) { 
 .edit-wrapper{
   padding-top: 5vh;
   height: 95vh;
   width: 95vw;
 }

 .else-avatar-container{
   padding-top: 50px;
   position: initial;
   margin: auto;
 }

 .true-avatar-container
 
 .else-edit-avatar{
   width: 150px;
   height: 150px;
 }

 .edit-avatar-text{
   margin-top: 5vh;
 }

 .edit-avatar-upload{
   justify-content: initial;
   margin: initial;
   display: initial;
 }

 .edit-avatar{
   width: 100%;
   position: initial;
 }

 .edit-profile-container{
   margin-top: 6vh;
   height: calc(100% - 70%);
 }

 .edit-profile{
   width: 100%;
 }

 .avatar-img{
   width: 150px;
   height: 150px;
 }
}