<div class='followers-user-wrapper'>
  <% @users.each do |user| %>
  <div class='followers-user-container'>
    <div class='followers-user-icon'>
    </div>
    <%= link_to user.nickname, user_path(user.id)%>
  </div>
  <% end %>
</div>