<h1>これがマイページ</h1>
<div class='user-profile-container'>
  <div class='user-account-container'>
  </div>
  <div class='user-photo-container'>
    <% @photos.each do |photo| %>
      <%= image_tag photo.image%>

    <ul class ='nore_list'>
      <li>
        <%= link_to '消去', "/photos/#{photo.id}", method: :delete %>
      </li>
    </ul>
    <%end%>
  </div>
</div>