<div class='user-profile-container'>
  <div class='user-account-container'>
  </div>
  <div class='user-photo-container'>
    <% @photos.each do |photo| %>
      <%= image_tag photo.image%>
    <% end %>
  </div>
</div>