<div class='post-header'>

  <%#ロゴの情報が入る%>
  <div class='photoroke-icon'>
    <%= link_to image_tag('photo_roke64.png', class: 'photoroke-icon-photo'), root_path %>
  </div>

  <%#ページの名前が入る%>
  <div class='top-page-name'>
    <h2 class='page-name'> 
      新規登録
    </h2>
  </div>

<%# ログイン %>
  <div class='sing-login-button'>
    <a href='/users/sign_in' class="sing-login">ログイン</a>
  </div>

</div>


<%#新規登録アイコン%>
  <%# <div class='sign-up-button'>
    <a href='/users/sign_up' class="sign-up">新規登録</a>
  </div>
</div> %>