.search-container {
  padding-top: 15vh;
  margin: auto;
  display: flex;
  justify-content: center;

}

/* .search-input {

}

.search-btn {

} */

/* .post-user-wrapper {
} */

.top-post-wrapper {
  width: 75vw;
  height: 90vh;
  margin: auto;
  padding-top: 5vh;
  /* flex-direction: column; */
  /* position: relative; */
}

.top-post-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
  box-shadow:
  0 1.9px 2.5px rgba(0, 0, 0, 0.057),
  0 5px 6.1px rgba(0, 0, 0, 0.076),
  0 10.1px 11.4px rgba(0, 0, 0, 0.086),
  0 19.2px 19.8px rgba(0, 0, 0, 0.092),
  0 38.4px 34.8px rgba(0, 0, 0, 0.1),
  0 101px 74px rgba(0, 0, 0, 0.13);
}

.post-user-wrapper {
  width: 100%;
  height: 100%;
}

.post-user-header {
  background-color: rgb(242, 240, 240);
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(100% - 90%);
}

.user-icon-container {
  left: 40px;
  height: 100%;
  width: calc(100% - 80%);
  margin-top: 5px;
  position: absolute;
}

.post-user-icon {
  border-radius: 50%;
  border: solid;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.photo-user-nickname{
  text-align: center;
  width: 100%;
  font-size: 13px;
}

.photo-title{
  margin: auto;
  font-size: 20px;;
}

.avatar{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.photo-avatar{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* .post-user-name {
} */

.post-main-photo {
  width: 100%;
  height: calc(100% - 20%);
  display: flex;
  align-items: center;
  position: relative;
}

.post-user-label {
  position: absolute;
  top: 10px;
  right: 10px;
}

.post-user-main {
  width: 100%;
  height: 100%;
}

.user-photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.post-footer-container {
  width: 100%;
  height: calc(100% - 90%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(242, 240, 240);
}

/* .post-comment-btn {
}

.post-fovo-btn {
} */

.purchase-btn {
  width: 7vw;
  text-align: center;
  bottom: 35px;
  right: 17px;
  position: fixed;
}

.purchase-btn-text {
  font-size: 19px;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}
