.new-post-wrapper {
  width: 75vw;
  height: 100vh;
  margin: auto;
  padding-top: 15vh;
}

.post-user-container {
  width: 100%;
  height:65vh; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 7vh 0px;
}

.center {
  width: 100px;
  position: absolute;
  bottom: 50px;
}

.post-photo-item {
width: 100%;
height: 65vh;
top: 150px;
display: flex;
align-items: center;
justify-content: center;
margin: 7vh 0px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* .post-photo-upload {
} */

/* .photo-image {
} */

.post-map-item {
position: relative;
}

.center {
  position: absolute;
  right: 68px;
  bottom: 22px;
}

.post-introduction-item {
display: flex;
justify-content: center;
margin: 7vh 0px;
}

.introduction-text {
  width: 95%;
  height: 25vh;
}

.post-new-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}