.show-post-wrapper{
  width: 75vw;
  height: 95vh;
  margin: auto;
  padding-top: 15vh;
  background-color: blueviolet;
}

.show-map-container{
  width: 100%;
  height: calc(100% - 50%);
  margin: 30px 0px;
  background-color: brown;
}

.comments-send-container{
  width: 100%;
  height: calc(100% - 90%);
  margin-bottom: 30px;
  background-color: cadetblue;
  display: flex;
}

.comments-table-container{
  width: 100%;
  height: calc(100% - 50%);
  background-color: cyan;
  margin-bottom: 30px;
  overflow: auto;
}

.comment-table-container{
  display: flex;
  width: 100%;
  height: calc(100% - 94%);
  border-radius: 8px;
  margin: 20px 0px;
}

.comment-table-nickname{
  width: calc(100% - 95%);
  height: 100%;
  margin-left: 10px;
}

.comment-table-text{
  height: 100%;
  margin-right: 10px;
  
}

.show-photo-title{
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.comments-text-area{
  background-color: darkcyan;
  width: calc(100% - 20%);
  height: 100%;
}

.comment-submit-container{
  width: calc(100% - 80%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments-text-submit{
  width: 50%;
  height: 50%;
  /* display: inline-block;
  max-width: 180px;
  text-align: left; */
  background-color: #ffa300;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  /* padding: 10px 24px; */
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
  /* position: absolute;
  bottom: 0px ; */
}

.comments-text-submit:active {
  transform: translateY(4px);
  border-bottom: none;
}
