.first-show-container{
  width: 75vw;
  height: 90vh;
  margin: auto;
  padding-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1), 0 101px 74px rgba(0, 0, 0, 0.13);
}

.show-map-container{
  width: 100%;
  margin-top: 30px;
}

.second-show-container{
  width: 75vw;
  height: 100vh;
  margin: auto;
}

.explanation-container{
  width: 100%;
  max-height: calc(100% - 80%);
  margin-top: 30px;
  background-color: gainsboro;
  border: 2px solid;
  border-radius: 8px;
}

.explanation-text{
  padding: 20px 0px;
  padding-left: 20px;
  word-break: break-all;
}

.comments-send-container{
  width: 100%;
  height: calc(100% - 90%);
  margin: 30px 0px;
  display: flex;
}

.comments-table-container{
  width: 100%;
  max-height: calc(100% - 50%);
  background-color:gainsboro;
  overflow: auto;
  border: 2px solid;
  border-radius: 8px;
  margin-top: 30px;
}

.comment-table-container{
  display: flex;
  margin: 20px 0px;
}

.comment-table-nickname{
  height: 100%;
  margin-left: 10px;
}

.comment-table-text{
  margin-right: 10px;
  word-break: break-all;
}

.show-photo-title{
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.comments-text-area{
  width: calc(100% - 20%);
  height: 100%;
}

.comment-submit-container{
  width: calc(100% - 80%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments-text-submit{
  width: 50%;
  height: 50%;
  /* display: inline-block;
  max-width: 180px;
  text-align: left; */
  background-color: #ffa300;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  /* padding: 10px 24px; */
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
  /* position: absolute;
  bottom: 0px ; */
}

.comments-text-submit:active {
  transform: translateY(4px);
  border-bottom: none;
}
