<%= render "shared/homes_header"%>
  <%# 大枠 %>
<div class="contents">

  <%# トップページの写真と文字 %>
  <figure class="top-image-text">
    <img
      class="top-image"
      src="/assets/top-page2.jpg"
      alt="人物の写真">
        <figcaption class="concept-text">
        テキストが入りますテキストが入りますテキストが入りしますテキストが入ります
        </figcaption>
  </figure>
  </div>

<div class="second-contents">
  <img 
    class="photoroke-big"
    src="/assets/Photoroke_logo.svg"
    alt="Photoロケアイコン">
</div>



<h2 class="app-heading">
  #Photoロケってどんなアプリ？？
</h2>

<p class="app-description">
  同じ場所で撮影したのに、あの人みたいに綺麗に撮れない…そんなことありませんか？それはみんな撮影に適しているスポットを知っているからです！#Photoロケは、撮影した場所、撮影した写真、を共有、閲覧できるアプリです
</p>

<div class="concept-image">
  <div class="left-concept-image">
    <img
      class="left-image"
      src=""
      alt="撮った写真のイメージが入る">
  </div>

  <div class="right-concept-image">
    <img
      class="right-image"
      src=""
      alt="地図のイメージは入る">
  </div>
</div>



<div class="photo-slide">
  <div class="slide1">
  </div>
</div>

