<div class='user-profile-container'>
  <div class='user'>
</div>

<div class='user-show-contailer'>
  <div class='user-show-name'>
    <%= @photo.user.nickname%>
  </div>
  <%= image_tag @photo.image, class: 'user-show-photo' %>
</div>