.user-profile-container {
  background-color: lawngreen;
  height: 100vh;
}

.user-photo-container {
  background-color: darkkhaki;
  height: 100%;
}

.user-account-container {
  background-color: gainsboro;
  height: 23vh;
  padding-top: calc(100vh - 90vh);
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: calc(100vw - 25vw);
  margin: auto;
}

.user-header-icon {
  width:115px;
  height:115px;
  object-fit:cover;
  border-radius:50%;
  object-position:0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px;
}

.user-header-profile {
  max-width: calc(100% - 70%);
  height: calc(100% - 10%);
  display: flex;
  align-items: center;
}

.user-profile-text {
  word-break: normal;
}


.accbox {
  margin: 2em 0;
  padding: 0;
  max-width: 400px;
}

.accbox label {
  display: block;
  margin: 1.5px 0;
  padding : 11px 12px;
  font-weight: bold;
  cursor :pointer;
  transition: all 0.5s;
}

.accbox-image{
  margin-left: 30%;
}

.accbox label:hover {
  background :#85baef;
}

.accbox input {
  display: none;
}

.accbox .accshow {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

.cssacc:checked + .accshow {
  height: auto;
  padding: 5px;
  background: #eaeaea;
  opacity: 1;
}

.mypage-avatar{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid;
}

/* 〜479px：スマートフォン縦
------------------------------ */
@media screen and (max-width:479px) { 
  .user-account-container{
    height: 13vh;
    padding-top: 5vh;
    width: 100vw;
  }

  .user-header-icon{
    width: 80px;
    height: 80px;
  }
  
  .user-header-profile{
    font-size: 10px;
  }

  .follow-wrapper{
    font-size: 10px;
  }

  .accbox .accshow{
    font-size: 10px;
  }
}